#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 5
#define SCROLL 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <11 12>;
        };

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <7 8>;
        };

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <6 7>;
        };

        nami {
            bindings = <&kp PLUS>;
            key-positions = <29 30>;
        };

        big {
            bindings = <&kp EXCLAMATION>;
            key-positions = <30 31>;
        };

        hatena {
            bindings = <&kp QUESTION>;
            key-positions = <32 31>;
        };

        click {
            bindings = <&mkp MB1>;
            key-positions = <17 18>;
        };

        click2 {
            bindings = <&mkp MB2>;
            key-positions = <18 19>;
        };

        kakko {
            bindings = <&kp LS(NUMBER_8)>;
            key-positions = <1 2>;
        };

        kakko2 {
            bindings = <&kp LS(N9)>;
            key-positions = <2 3>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        code_px: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &kp P &kp X>;
            label = "NEW_MACRO";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &lt 1 W    &lt 2 E       &lt 3 R   &lt 5 T                                           &kp Y            &lt 1 U  &lt 2 I              &lt 3 O               &lt 5 P
&kp A             &lt 1 S    &lt 2 D       &lt 3 F   &lt 5 G                &kp LEFT_ARROW             &kp H            &lt 1 J  &lt 2 K              &lt 3 L               &mt RC(RIGHT_SHIFT) MINUS
&mt LEFT_SHIFT Z  &kp X      &kp C         &kp V     &kp B     &mkp MB3     &kp RIGHT_ARROW            &kp N            &kp M    &mt RS(RCTRL) COMMA  &mt RA(RCTRL) PERIOD  &kp SLASH
&kp LEFT_GUI      &kp LCTRL  &kp LEFT_ALT  &mkp MB2  &mkp MB1  &kp SPACE    &mt RIGHT_SHIFT BACKSPACE  &mt LCTRL ENTER                                                      &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        NUM {
            bindings = <
&kp LS(NUMBER_2)  &kp LS(NUMBER_7)  &kp LEFT_BRACKET  &kp LS(NUMBER_8)   &kp LS(NUMBER_9)                                   &kp N0       &kp N1  &kp N2  &kp N3  &kp LS(SEMICOLON)
&kp SEMI          &kp SINGLE_QUOTE  &kp POUND         &kp RIGHT_BRACE    &kp LS(BACKSLASH)               &kp DOUBLE_QUOTES  &kp SLASH    &kp N4  &kp N5  &kp N6  &kp MINUS
&kp LS(NUMBER_4)  &kp INT_YEN       &kp LS(NUMBER_6)  &kp RIGHT_BRACKET  &kp BACKSLASH      &kp UNDER    &kp SPACE          &kp PERCENT  &kp N7  &kp N8  &kp N9  &kp LS(MINUS)
&kp GLOBE         &kp RS(CARET)     &trans            &kp LSHFT          &kp LCTRL          &kp LALT     &kp COMMA          &kp PERIOD                           &code_px
            >;

            sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        ARROW {
            bindings = <
&kp ESCAPE  &kp LS(LG(S))  &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP                            &trans         &trans    &kp UP    &trans           &trans
&trans      &trans         &trans      &kp LEFT_GUI       &trans                       &trans        &trans         &kp LEFT  &kp DOWN  &kp RIGHT_ARROW  &trans
&trans      &trans         &trans      &trans             &trans           &trans      &trans        &trans         &trans    &trans    &trans           &trans
&trans      &trans         &trans      &kp LSHFT          &kp LCTRL        &kp LALT    &kp LC(LEFT)  &kp LC(LS(Z))                                       &kp LG(L)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        MOUSE {
            bindings = <
&kp LC(NUMBER_1)  &kp LC(N2)    &kp LC(N3)           &kp F1     &kp F2                                &kp LG(N0)             &kp LG(NUMBER_1)  &kp LG(N2)  &kp LG(N3)  &trans
&trans            &kp LA(LEFT)  &kp RA(RIGHT_ARROW)  &trans     &trans                 &trans         &trans                 &kp LG(N4)        &kp LG(N5)  &kp LG(N6)  &trans
&trans            &trans        &trans               &trans     &trans     &trans      &trans         &trans                 &kp LG(N7)        &kp LG(N8)  &kp LG(N9)  &kp LGUI
&trans            &trans        &trans               &kp LSHFT  &kp RCTRL  &kp LALT    &kp LC(MINUS)  &kp LC(LS(SEMICOLON))                                            &trans
            >;

            sensor-bindings = <&inc_dec_kp F1 F2>;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        lay {
            bindings = <
&trans  &trans  &trans  &kp LA(Z)  &kp LS(LA(F))                      &bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans
&trans  &trans  &trans  &trans     &trans                     &trans  &trans          &mkp MB1      &mkp MB3      &mkp MB2      &trans
&trans  &trans  &trans  &trans     &trans         &trans      &trans  &trans          &trans        &trans        &trans        &trans
&trans  &trans  &trans  &kp LSHFT  &kp LCTRL      &kp LALT    &trans  &trans                                                    &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(LEFT_ARROW) LC(RIGHT_ARROW)>;
        };
    };
};
